@model RegisterModel
@{
    ViewData["Title"] = "Register Member";
    Layout = "_Layout_confirmation";
    var registerModel = ViewData["RegisterModel"] as RegisterModel;
}

<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="SaveData" asp-controller="Register">
        <p>Card No: @registerModel.txt_CardNo<input type="hidden" name="txt_CardNo" id="txt_CardNo" value="@registerModel.txt_CardNo" /></p>
        <p>Personal ID: @registerModel.txt_CardID<input type="hidden" name="txt_CardID" id="txt_CardID" value="@registerModel.txt_CardID" /></p>
        <p>Mobile Number: @registerModel.txt_MobileNo<input type="hidden" name="txt_MobileNo" id="txt_MobileNo" value="@registerModel.txt_MobileNo" /></p>
        <p>Birth Date: @registerModel.txt_BirthDate<input type="hidden" name="txt_BirthDate" id="txt_BirthDate" value="@registerModel.txt_BirthDate" /></p>>
        <input type="submit" value="Save this Data" />
        </form>
    </div>
</div>
